body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container {
  background-color:#CCCCCC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  /* width: 100%; */
}


.btn-success {
  color:#fff;
  background-color:#85b973 !important; 
  border-color: #85b973 !important;
 }

 .btn-disabled {
  color: #fff;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.disabled-step {
  pointer-events: none;
  opacity: 0.4;
  width: 100%;
  margin-top: 10px;
}

.title-step {
  align-content: center; 
  font-size: 25px;
  color: black;
}
.title-success-form {
  align-content: center; 
  font-size: 18px;
  color: black;
}

.container-step{
  width: 100%;
  margin-top: 10px;
}

.row{
  margin-top: 5px;
}

.error-label{
  font-size: 15px;
  color : red;
}

.input-style{
  width: 50%;
}